body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
    align-content: stretch;
    border-style:double;
    border-color:black;

}

#RPS-head {
    display: flex;
    border-style: dotted;
    border-color:black;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content:center;
}

#h2-box{
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items: center;
    border-style:dotted;

}

#selection-cont{
    display:flex;
    flex-direction: column;
    flex-grow:.05;
    align-content:stretch;
    align-items:center;
    justify-content: center;
    padding-bottom:25px;
    border-style:dashed;
    border-color:blueviolet;
}
#selection-bar {
    display:flex;
    text-align:center;

    
}

#rock{
    font-size: 25px;
    padding: 12px;
    padding-left:20px;
    padding-right: 20px;
    margin: 8px;
}

#paper{
    font-size: 25px;
    padding: 12px;
    padding-left:20px;
    padding-right: 20px;
    margin: 8px;
}

#scissors{
    font-size: 25px;
    padding: 12px;
    padding-left:20px;
    padding-right: 20px;
    margin: 8px;
}

#results-header{
    font-size: 40px;
    margin-top: 40px;
    display:flex;
    border-style: dashed;
    flex-direction:column;
    flex-grow:1;
}

#results-window{
    display: flex;
    border-style: dashed;
    flex-direction: column;
    margin:20px;
    flex-grow:1;

}







